<div class="col-sm-6" ng-controller="deleteCustomerController">
    <form class="form-horizontal" name="form"  ng-submit="farmerDelete()">
        <fieldset>
            <!-- Text input-->
            <div class="form-group">
                <div class="alert alert-info">
                    <strong>Would you like to delete your account?</strong>
                </div>
            </div>




            <div class="form-group">
                <label class="col-sm-4 control-label" for="add_product"></label>
                <div class="col-sm-6">
                    <button id="submit" name="submit" class="btn btn-primary" ng-click="deleteCustomer()">Delete Account</button>
                </div>
            </div>

        </fieldset>
    </form>
</div>